---
editor:
  label: Styles
---
<div class="styles">
  <div class="styles__section">
    <div class="styles__section__type">
      <div class="styles__section__type__h1">
        +type-h1
      </div>
      <div class="styles__section__type__h2">
        +type-h2
      </div>
      <div class="styles__section__type__h3">
        +type-h3
      </div>
      <div class="styles__section__type__h4">
        +type-h4
      </div>
      <div class="styles__section__type__body-large">
        +type-body-large
      </div>
      <div class="styles__section__type__body">
        +type-body
      </div>
      <div class="styles__section__type__eyebrow">
        +type-eyebrow
      </div>
      <div class="styles__section__type__small">
        +type-small
      </div>
      <div class="styles__section__type__button">
        +type-button
      </div>
      <div class="styles__section__type__caption">
        +type-caption
      </div>
      <div class="styles__section__type__label">
        +type-label
      </div>
    </div>
  </div>

  <div class="styles__section">
    <div class="styles__section__buttons">
      <a class="button" href="#">.button</a>
      <a class="button button--medium" href="#">.button .button--medium</a>
      <a class="button button--low" href="#">.button .button--low</a>
      <a class="button button--tonal" href="#">.button .button--tonal</a>
      <a class="button button--link" href="#">.button .button--link</a>
    </div>
    <div class="styles__section__buttons">
      <a class="button button--medium button--ytmodal" data-youtube-id="5qap5aO4i9A">.button .button--medium .button--ytmodal</a>
      <a class="button button--medium button--modal" data-modal-open="modal-example">.button .button--medium .button--modal</a>
    </div>
  </div>

  <div data-modal-id="modal-example">
    <div class="simple-modal">
      This is the contents of "modal-example" modal.
    </div>
  </div>

  <div class="styles__section">
    <div class="styles__section__chapter">
      <div class="styles__section__chapter__eyebrow">
        chapter eyebrow
      </div>
      <div class="styles__section__chapter__title">
        chapter title
      </div>
      <div class="styles__section__chapter__body">
        chapter body
      </div>
      <div class="styles__section__chapter__buttons">
        <a class="button" href="#">button</a>
      </div>
    </div>
  </div>

</div>
